.app-body__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;

    li {
      padding: 15px 30px;
      font-size: 1rem;
      color: var(--black);
      font-weight: 600;
      opacity: 0.5;
      border-bottom: 3px solid transparent;
      transition: all 0.3s ease-in;

      &.active {
        opacity: 1;
        border-color: var(--primary);
        transition: all 0.3s ease-in;
      }
    }
  }
  .search {
    height: 55px;

    input {
      height: 100%;
      min-width: 300px;
      border-radius: 12px;
      padding: 15px;
      font-size: 1rem;
      font-weight: 700;
      font-family: "Comfortaa", sans-serif;
      border: 2px solid transparent;
      box-shadow: -10px 15px 30px rgba(9, 4, 21, 0.08);
      outline: none;
      transition: border 0.3s ease-in;

      &::placeholder {
        opacity: 0.7;
        font-weight: 400;
      }

      &:hover {
        border-color: #cccccc;
        transition: border 0.3s ease-in;
      }

      &:focus {
        border-color: var(--primary);
        transition: border 0.3s ease-in;
      }
    }
  }
}
