h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 12px 25px;
  font-size: 1rem;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;

  &.btn-primary {
    background: var(--black);
    color: var(--white)
  }

  &.btn-small {
    height: 40px;
    padding: 10px 20px;
    font-size: 14px;
  }
}
